**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/bld
**/core
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/patch
**/project.lock.json
**/publish
**/results
**/TestResults
**/web.Debug.config
**/web.Release.config
cinema_db.db-wal
cinema_db.db-shm

mobile-app-expo/
quanlirapphim-mvc-net-main/
